@import url('/node_modules/font-awesome/css/font-awesome.min.css');

canvas#background {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: -1;
}

@font-face {
  font-family: 'Elianto';
  src: url('/assets/fonts/elianto-regular-webfont.woff2') format('woff2'),
       url('/assets/fonts/elianto-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

#footer {
  position: absolute;
  display: table;
  bottom: 0;
  width: 100%;
  height: 5.5rem;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.95);
}

.topnav {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.links a {
margin-left:10px; 
margin-right:10px;
text-decoration: none;
color: #f2f2f2;
text-decoration: none;
padding: 10px 10px;
font-size: 16px;
position: relative;
}

.logo img{
  height: 60px
}

:root {
    --dark-bg: rgba(15, 15, 15, 0.95);
    --spacing: 150px;
    font-family: 'Elianto', sans-serif;
  }

a {
  color: inherit;
  text-decoration: none;
}

.inline-link {
  background:
    linear-gradient(
      to right,
      rgb(255, 255, 255),
      rgb(255, 255, 255)
    ),
    linear-gradient(
      to right,
      rgba(255, 0, 0, 1),
      rgba(255, 0, 180, 1),
      rgba(0, 100, 200, 1)
  );
  background-size: 100% 3px, 0 3px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
}

a:hover {
  background-size: 0 3px, 100% 3px;
}

.subtitle {
  color: rgb(255, 255, 255);
  font-weight: 400; 
  opacity: 0;
  transform: translateY(3rem);
  animation: fadeInUp 2s ease forwards;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

body {
  color: white;
}

.main {
  position:absolute;
  padding: 50px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex-flow: column wrap;
  gap: 100px;
  
}

.section-body {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 20px;
}

.section-body p {
  font-size: 20px;
}

.title-header {
  font-size: 25px;
  width: 35%;
  border-radius: 25px;
  background-color: var(--dark-bg);
  padding: 1rem;
  margin-bottom: 50px;
}

ul {
  font-size: 17px;
  padding:10px;
}

li:nth-of-type(1n+7) {
  display: none;
}

li {
  padding: 5px;
  margin-bottom: 3px;
}

li + li {
  border-top: 1px solid rgba(255, 255, 255);
}

.section-flex-child {
  flex:1;
  padding: 20px;
  border-radius: 25px;
  background-color: var(--dark-bg);
}